@import "tailwindcss";

:root {
  --background: #0B0E14;
  --foreground: #FFFFFF;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Inter, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0B0E14;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1A56FF;
}
